{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<form method="post" style="width: 20%; justify-content: center; margin: 10% 0 0 40%;">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>

    <style>
        footer{
            margin-top: 14% !important;
            margin-right: 20%;
        }
        .btn-lg{
            opacity: 80%;
        }
        .btn-primary{
            background-color: #313131;
            border-color: #313131;
            margin: 2% 0 0 35%;
        }
    </style>
{% endblock %}
