{% extends 'Admin/adminbase.html.twig' %}
{% block body %}
    <br />
    <h1 align="center">Calendar</h1>
    <div class="container">
        <div id="calendar">

        </div>
    </div>
{% endblock %}
