{% extends 'Admin/adminbase.html.twig' %}
{% block body %}
    <center>
        <h1>
            Welkom Admin
        </h1>
    </center>
    <style>
    body{
        background-image: url("img/background.jpg") !important;
    }
</style>
{% endblock %}
