{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="width: 100%;">
            <div class="text">
                <h1 style="color: white;">De Gedragsregels van&nbsp;Trainging Factory zijn:</h1>

                <ul style="color: white; align-content: flex-end;">
                    <li>De aanwijzingen van het personeel dienen strikt opgevolgd te worden;</li>
                    <li>Dranken mogen alleen in een afgesloten fles/bidon meegenomen worden in de sportruimten;</li>
                    <li>Roken en het gebruik en/of verspreiden van verboden middelen is ten strengste verboden;</li>
                    <li>Etenswaren zijn niet toegestaan in de sportruimten;</li>
                    <li>Gebruik van een mobiele telefoon om te bellen is niet toegestaan in de sportruimten;</li>
                    <li>Dieren zijn niet toegestaan;</li>
                    <li>Verkoop- en/of promotieactiviteiten zijn niet toegestaan zonder toestemming van Training Factory;</li>
                    <li>Jassen en tassen zijn niet toegestaan in de sportruimten;</li>
                    <li>Wij raden u aan om voor het opbergen van uw eigendommen gebruik te maken van de lockers;</li>
                    <li>Gelieve na het sporten geen eigendommen achter te laten in de lockers, daar deze dagelijks worden gecontroleerd en opengemaakt;</li>
                    <li>Het gebruik van een handdoek tijdens de training is verplicht;</li>
                    <li>Het is verplicht schone en gepaste (geen slippers of sandalen) sportschoenen en gepaste sportkledij te dragen;</li>
                    <li>Gebruik apparatuur alleen voor de daarvoor bestemde doeleinden;</li>

                </ul>
                <p>Ongewenste en/of gewenste intimiteiten in de Training Factory worden niet getolereerd en Indien noodzakelijk wordt er bij overtreding van de huisregels aangifte gedaan bij de politie Training Factory is niet aansprakelijk voor verlies, schade en/of diefstal van je eigendommen en/of lichamelijk letsel in en om de Training Factory. Training Facotry kan als zodanig niet aansprakelijk worden gesteld.</p>

                <p>Training Factory is altijd bevoegd om, wegens haar moverende redenen, personen tijdelijk of blijvend de toegang te ontzeggen tot één of meer van haar fitnessclubs (en aanverwante activiteiten) en om de lidmaatschapsovereenkomst per direct op te zeggen.</p>
            </div>

        </div>
    <style>
        p{
            margin-left: 3.6% !important;
        }
        footer{
            margin-top: 5% !important;
            margin-left: 0% !important;
        }
        h1{
            margin-top: 0%;
        }
    </style>
{% endblock %}