{% extends 'base.html.twig' %}

{% block body %}
<div class="container"style="width: 100%;">
    {{ form(form) }}
</div>
<style>
    body{
        background-image: url("img/background.jpg");
    }
    form{
        width: 50%;
        color: white;
        font-size: 21px;
        margin-top: 5%;
        align-content: center;
    }
{% endblock %}
