{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="width: 100%;">
    {% for training in trainingen  %}
    <div class="card-group">
        <div class="card">
            <img src="img/{{ training.naam }}.jpg" class="card-img-top" alt="...">
        </div>
        <p1><br>
            <br>
            <br>
            Training: {{ training.naam }}<br>
            Beschrijving: {{ training.description }}<br>
            Prijs: &euro;	{{ training.duration }}</p1>
        {% endfor %}
    </div>
    <style>
    p1{
        font-size: 15px !important;
        width: 300px;
        color: white;
        background-color: rgba(21, 22, 22, 0.76);
        padding-left: 2%;
    }
        .container{
            max-width: 720px;
        }
    </style>
{% endblock %}