{% extends 'Lid/lidbase.html.twig' %}
{% block body%}
    <div class="container" style="width: 100%;">
    </div>
    <style>
        footer{
            margin-top: 30% !important;
            margin-right: 20%;
        }
    </style>
{% endblock %}